@media (max-width: 767px)
  .container
    max-width: 576px
    width: 90%

  .header
    padding: 3rem 0
    &-wrapper
      flex-direction: column
      justify-content: center
    &__logo
      margin-right: 0
      margin-bottom: 1rem

  .intro
    padding: 4rem 0
    &__image
      &-wrapper
        height: 32rem
    &__content
      margin-bottom: 1.5rem
    &__subtitle
      margin-bottom: 1.5rem
    &__title
      margin-bottom: 1.5rem
    &__text
      margin-bottom: 2rem

  .projects
    padding: 4rem 0 6rem
    &__title
      margin-bottom: 4rem
    .cards
      grid-template-columns: repeat(1, 1fr)
      grid-template-rows: repeat(5, 28.8rem)
      grid-auto-rows: 28.8rem
      grid-gap: 1.5rem
      &__item
        &--3
          grid-row: span 1
      &__content
        padding: 3rem
      &__title
        margin-bottom: 2rem
      &__text
        margin-bottom: 2rem

  .testimonials
    padding: 4rem 0
    &__title
      margin-bottom: 4rem
    .tabs
      &__content
        height: 35rem
        padding: 3 3.5rem
      &__title
        margin-bottom: 2rem
      &__nav
        &-btn
          margin: 0 1.5rem

  .footer
    padding: 4rem 0


  /*=== Single project page ===*/
  .project-intro
    padding: 4rem 0
    &_wrapper
      max-width: 100%
    &__title
      margin-bottom: 2rem
      font-size: 3.2rem
    &__text
      margin-bottom: 2rem
    &__links
      flex-direction: column

  .details
    padding: 4rem 0 6rem
    &__content
      width: 100%
      padding-right: 0
      margin-bottom: 4rem
    &__title
      margin-bottom: 2rem
    &__text
      margin-bottom: 2rem
    &__pictures
      width: 100%
    &__picture
      height: 28.8rem
      margin-bottom: 2rem

    .review
      padding-top: 4rem
      &__title
        margin-bottom: 2rem
      &__text
        margin-bottom: 2rem
