@media (max-width: 767px)
  .container
    max-width: 576px
    width: 90%

  .header
    padding: 3rem 0
    &-wrapper
      flex-direction: column
      justify-content: center
    &__logo
      margin-right: 0
      margin-bottom: 1rem
